@import '../../styles/theme';

.projects_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .projects_title {
    font-size: 2rem;
    text-align: center;
    @include gThemed() {
      color: buzTheme('accentMain');
    }
  }

  .projects_list {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    align-items: center;
    gap: 1rem;

    .even_project {
      display: flex;
    }

    .odd_project {
      display: flex;
    }
  }
}

.container_tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;

  .tag {
    padding: 0.5rem;
    border-radius: 0.3em;
    font-size: 0.8rem;
    @include gThemed() {
      color: buzTheme('backgroundColor');
    }
    font-weight: 700;
  }
}

.modal_body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .container_links {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    justify-content: flex-end;

    a {
      @include gThemed() {
        color: buzTheme('accentMain');
      }

      &:hover {
        @include gThemed() {
          color: buzTheme('textPrimary');
        }
      }
    }
  }
}
