@import '../../Styles/Theme/theme';

.RProjects {
  min-height: 100vh;
  @include themed() {
    color: buzTheme('accentMain');
    background-color: buzTheme('backgroundColor');
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projects_all_body {
    gap: 1.5rem;
    width: 1200px;
    margin: 2rem 0;

    .projects_body_title {
      font-size: 1.9rem;
      font-weight: 600;
      text-align: center;
    }

    .projects_body_footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;

      a {
        text-decoration: none;
        @include themed() {
          color: buzTheme('accentMain');
        }
      }
    }
  }
}
