@import '../../Styles/Theme/theme';

.box {
  @include themed() {
    color: buzTheme('textSecondary');
    box-shadow: buzTheme('shadow');
    border: buzTheme('border');
  }
  width: 12rem;
  border-radius: 0.5rem;

  .box_switch {
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    list-style: none;

    &__item {
      flex: 1;
      cursor: pointer;

      .box_switch__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0;
        color: inherit;
        gap: 0.2rem;
      }

      &.active {
        border-radius: 0.6rem;
        @include themed() {
          background-color: buzTheme('accentMain');
          color: buzTheme('backgroundColor');
        }

        .box_switch_icon {
          rotate: 360deg;
          transition: all 0.6s linear;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .box_switch_text {
    display: none;
  }
}
