@import '../../styles/theme';
@import '../../styles/container';
@import '../../styles/center';

.nav {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky;

  @include gThemed() {
    color: buzTheme('textPrimary');
    box-shadow: buzTheme('shadow');
    background-color: buzTheme('backgroundColor');
  }

  &__center {
    @extend .baseContainer;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nav__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;

      .logo {
        height: 2.4rem;
        width: 2.4rem;
      }
    }

    .nav_menu {
      display: flex;
      margin-left: auto;
      justify-content: center;
      list-style: none;
      @include gThemed() {
        color: buzTheme('textPrimary');
        background-color: buzTheme('backgroundColor');
      }

      .menu_item {
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-style: 1.6rem;
          letter-spacing: 0.05rem;
          display: block;
          padding: 0.8rem 1.6rem;

          color: inherit;
          @include gThemed() {
            color: buzTheme('textPrimary');
          }

          &:hover {
            @include gThemed() {
              color: buzTheme('accentMain');
            }
            padding-left: 0.8rem;
          }
        }
      }

      @media screen and (max-width: 800px) {
        width: 100vw;
        height: 100vh;
        text-align: center;
        position: fixed;
        display: block;
        margin: 0;
        top: 0;
        z-index: 3;
        padding: 11.2rem 0;
        line-height: normal;

        .menu_item {
          a {
            display: block;
            padding: 20px;
          }
        }

        &.isClosed {
          right: -100%;
        }

        &.isOpened {
          right: 0;
        }
      }
    }

    .themeSetter {
      z-index: 3;
      @extend .center_flex;
      flex-direction: row;

      .nav__toggle {
        font-style: 2.4rem;
        background: transparent;
        border: transparent;
        background-color: transparent;
        cursor: pointer;
        display: none;

        svg {
          @include gThemed() {
            color: buzTheme('textPrimary');
          }
        }

        @media screen and (max-width: 800px) {
          display: inline-block;
        }
      }
    }
  }
}
