@import '../../Styles/Theme/theme';

.NotFound_container {
  @include themed() {
    color: buzTheme('textPrimary');
    background-color: buzTheme('backgroundColor');
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .NotFound_title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .goBack_Button {
    text-decoration: none;

    @include themed() {
      color: buzTheme('textPrimary');
      background-color: buzTheme('primaryMain');
    }

    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    border: 1px solid transparent;

    &:hover {
      @include themed() {
        background-color: buzTheme('secondaryMain');
      }
    }
  }
}
