@import '../../Styles/Theme/theme';

.hero {
  height: 90vh;
  overflow: hidden;
  flex-direction: row;

  .Content {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include themed() {
      color: buzTheme('textColor');
    }

    .hero_about {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hero_about_title {
        margin-top: 0.5rem;
        display: flex;
        font-size: 4rem;
        flex-wrap: wrap;
        font-weight: bold;
        justify-content: center;
        @include themed() {
          color: buzTheme('textColor');
        }

        #flip {
          margin-left: 0.5rem;

          @include themed() {
            color: buzTheme('textColorSecondary');
          }
        }

        @media screen and (max-width: 768px) {
          font-size: 3rem;
        }
      }

      .hero_about_subtitle {
        margin-top: 0.5rem;
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        flex-wrap: wrap;
        justify-content: center;
        @include themed() {
          color: buzTheme('textColorSecondary');
        }

        span {
          margin-left: 0.5rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    .app_header_circles {
      display: flex;
      height: 15rem;
      margin-left: 1rem;
      border-radius: 50%;

      .icon_circle {
        position: relative;
        border-radius: 50%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include themed() {
          box-shadow: buzTheme('shadow');
          color: buzTheme('textColor');
        }

        i {
          font-size: 1.5rem;
          @include themed() {
            color: buzTheme('backgroundColor');
          }
        }

        &:nth-child(odd) {
          width: 2rem;
          height: 2rem;
        }

        &:nth-child(even) {
          width: 2rem;
          height: 2rem;
        }

        &:nth-child(8) {
          transform: rotate(160deg) translateY(-6rem) rotate(200deg);
        }

        &:nth-child(7) {
          transform: rotate(100deg) translateY(-4rem) rotate(-60deg);
        }

        &:nth-child(6) {
          transform: rotate(60deg) translateY(-4rem) rotate(-40deg);
        }

        &:nth-child(5) {
          transform: rotate(20deg) translateY(-4rem);
        }

        &:nth-child(4) {
          transform: rotate(-20deg) translateY(-4em);
        }

        &:nth-child(3) {
          transform: rotate(-60deg) translateY(-4rem) rotate(60deg);
        }

        &:nth-child(2) {
          transform: rotate(-100deg) translateY(-4rem) rotate(90deg);
        }

        &:nth-child(1) {
          transform: rotate(-160deg) translateY(-6rem) rotate(-180deg);
        }
      }


      @media screen and (max-width: 768px) {
        width: 15rem;
        height: 14rem;
        margin-left: 0;

        .icon_circle {
          border-radius: 50%;

          &:nth-child(odd) {
            width: 1.5rem;
            height: 1rem;

            i {
              font-size: 1rem;
            }
          }

          &:nth-child(even) {
            width: 1.5rem;
            height: 1rem;
            i {
              font-size: 1rem;
            }
          }

          &:nth-child(8) {
            transform: rotate(160deg) translateY(-4rem) rotate(190deg);
          }

          &:nth-child(7) {
            transform: rotate(100deg) translateY(-3rem) rotate(-60deg);
          }

          &:nth-child(6) {
            transform: rotate(60deg) translateY(-3rem) rotate(-20deg);
          }

          &:nth-child(5) {
            transform: rotate(20deg) translateY(-3rem);
          }

          &:nth-child(4) {
            transform: rotate(-20deg) translateY(-3em);
          }

          &:nth-child(3) {
            transform: rotate(-60deg) translateY(-3rem) rotate(20deg);
          }

          &:nth-child(2) {
            transform: rotate(-100deg) translateY(-3rem) rotate(60deg);
          }

          &:nth-child(1) {
            transform: rotate(-160deg) translateY(-4rem);
          }
        }
      }
    }

    .hero_img {
      position: absolute;
      transform: translate(0, -20%);

      @media screen and (min-width: 0px) and (max-width: 1024px) {
        transform: translate(0, -15%);
      }
    }
  }

  .scroll_down {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    bottom: 4rem;
    left: 50%;
    margin-left: -100px;
    font-size: 1.2rem;
    text-align: center;
    gap: 0.5rem;
    @include themed() {
      color: buzTheme('textColorSecondary');
    }

    .icon-down {
      font-size: 2em;
      @include themed() {
        box-shadow: buzTheme('shadow');
        border-radius: 0.8rem;
      }
    }
  }
}
