@import '../../Styles/Theme/theme';

.hero {
  height: 90vh;
  display: flex;
  width: 99vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('https://assets.codepen.io/1538474/star.svg') !important;
  -webkit-animation: move-twink 800s linear infinite;
  animation: move-twink 800s linear infinite;

  .Content {
    width: 90vw;
    flex: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include themed() {
      color: buzTheme('textPrimary');
    }

    .hero_about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hero_about_title {
        margin-top: 0.5rem;
        display: flex;
        font-size: 4rem;
        flex-wrap: wrap;
        font-weight: bold;
        justify-content: center;
        @include themed() {
          color: buzTheme('textPrimary');
        }

        .flip {
          margin-left: 0.5rem;

          @include themed() {
            color: buzTheme('accentMain');
          }
        }

        @media screen and (max-width: 768px) {
          font-size: 2.5rem;
        }
      }

      .hero_about_subtitle {
        margin-top: 0.5rem;
        display: flex;
        font-size: 2rem;
        font-weight: 500;
        flex-wrap: wrap;
        justify-content: center;
        @include themed() {
          color: buzTheme('textSecondary');
        }

        span {
          margin-left: 0.5rem;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    .app_header_circles {
      display: flex;
      height: 15rem;
      margin-left: 1rem;
      border-radius: 50%;

      .icon_circle {
        position: relative;
        border-radius: 50%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include themed() {
          box-shadow: buzTheme('shadow');
          color: buzTheme('textPrimary');
        }

        i {
          font-size: 1.5rem;
          @include themed() {
            color: buzTheme('backgroundColor');
          }
        }

        &:nth-child(odd) {
          width: 2rem;
          height: 2rem;
        }

        &:nth-child(even) {
          width: 2rem;
          height: 2rem;
        }

        &:nth-child(8) {
          transform: rotate(160deg) translateY(-6rem) rotate(200deg);
        }

        &:nth-child(7) {
          transform: rotate(100deg) translateY(-4rem) rotate(-60deg);
        }

        &:nth-child(6) {
          transform: rotate(60deg) translateY(-4rem) rotate(-40deg);
        }

        &:nth-child(5) {
          transform: rotate(20deg) translateY(-4rem);
        }

        &:nth-child(4) {
          transform: rotate(-20deg) translateY(-4em);
        }

        &:nth-child(3) {
          transform: rotate(-60deg) translateY(-4rem) rotate(60deg);
        }

        &:nth-child(2) {
          transform: rotate(-100deg) translateY(-4rem) rotate(90deg);
        }

        &:nth-child(1) {
          transform: rotate(-160deg) translateY(-6rem) rotate(-180deg);
        }
      }

      @media screen and (max-width: 768px) {
        width: 15rem;
        height: 14rem;
        margin-left: 0;

        .icon_circle {
          border-radius: 50%;

          &:nth-child(odd) {
            width: 1.5rem;
            height: 1rem;

            i {
              font-size: 1rem;
            }
          }

          &:nth-child(even) {
            width: 1.5rem;
            height: 1rem;
            i {
              font-size: 1rem;
            }
          }

          &:nth-child(8) {
            transform: rotate(160deg) translateY(-4rem) rotate(190deg);
          }

          &:nth-child(7) {
            transform: rotate(100deg) translateY(-3rem) rotate(-60deg);
          }

          &:nth-child(6) {
            transform: rotate(60deg) translateY(-3rem) rotate(-20deg);
          }

          &:nth-child(5) {
            transform: rotate(20deg) translateY(-3rem);
          }

          &:nth-child(4) {
            transform: rotate(-20deg) translateY(-3em);
          }

          &:nth-child(3) {
            transform: rotate(-60deg) translateY(-3rem) rotate(20deg);
          }

          &:nth-child(2) {
            transform: rotate(-100deg) translateY(-3rem) rotate(60deg);
          }

          &:nth-child(1) {
            transform: rotate(-160deg) translateY(-4rem);
          }
        }
      }
    }

    .hero_img {
      position: absolute;
      transform: translate(0, -20%);

      @media screen and (min-width: 0px) and (max-width: 1024px) {
        transform: translate(0, -15%);
      }
    }

    @media screen and (max-width: 768px) {
      flex: 0.7;
    }
  }

  .scroll_down {
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 0;

    .scroll_down_icon {
      width: 1.7rem;
      height: 2.5rem;
      border-radius: 43%;
      @include themed() {
        border: 2px solid buzTheme('textSecondary');
        background-color: buzTheme('backgroundColor');
      }

      &:before {
        content: '';
        position: absolute;
        translate: (-50%, -50%);
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        @include themed() {
          background-color: buzTheme('accentMain');
        }
        top: 0.5rem;
        animation: scroll_down 3s infinite;
      }
    }
  }
}

@keyframes scroll_down {
  0% {
    transform: translate(-50%, -50%) translateY(0.3rem);
  }
  50% {
    transform: translate(-50%, -50%) translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) translateY(0.3rem);
  }
}

@-webkit-keyframes move-twink {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}

@keyframes move-twink {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 0;
  }
}
