.contact_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .lottie_container {
    flex: 0.9;
  }
}

@media screen and (max-width: 768px) {
  .lottie_container {
    display: none;
  }
}
