@import '../../Styles/Theme/theme';

.loading_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include themed() {
    background-color: buzTheme('backgroundColor');
    color: buzTheme('textColor');
  }

  .loading_container_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
