@import '../../Styles/Theme/theme';

.About_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  border-radius: 1rem;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;

  @include themed() {
    background-color: buzTheme('backgroundColor');
    color: buzTheme('textPrimary');
  }

  .About_container__image {
    flex: 0.6;
    padding: 1rem;
  }

  .About_container_description {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.7rem;

    h1 {
      @include themed() {
        color: buzTheme('accentMain');
      }
      font-weight: 600;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .About_container {
    gap: 0;
    font-size: 1rem;
    flex-direction: column;
    height: auto;
    margin: 1rem 0;

    .About_container__image {
      flex: 0.6;
      display: flex;
      align-items: flex-end;
    }
    .About_container_description {
      line-height: 2rem;
      flex: 1;
      justify-content: flex-start;

      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
