@import '../../Styles/Theme/theme';

.footer_float_container {
  @include themed() {
    color: buzTheme('backgroundColor');
  }
  width: 100vw;
  position: fixed;
  bottom: 0;

  .button_float {
    @include themed() {
      background-color: buzTheme('accentMain');
    }

    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
  }

  .footer_content {
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    border-radius: 1rem;
    padding: 2rem 1rem;
    @include themed() {
      border: buzTheme('border');
      box-shadow: buzTheme('shadow');
      background-color: buzTheme('backgroundColor');
    }
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
