@import '../../Styles/Theme/theme';

.footer {
  @include themed() {
    background-color: buzTheme('backgroundColor');
    color: buzTheme('textSecondary');
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0.2rem;
  z-index: 9999;
  width: 100%;
}
