@import './variables';

.baseContainer {
  max-width: map-get($container-max-widths, sm);

  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: 100vw;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    max-width: map-get($container-max-widths, md);
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    max-width: map-get($container-max-widths, lg);
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    max-width: map-get($container-max-widths, xl);
  }

  @media (min-width: map-get($grid-breakpoints, xxl)) {
    max-width: map-get($container-max-widths, xxl);
  }
}
