@import '../Theme/theme';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Open Sans', sans-serif !important;
}

.App {
  @include themed() {
    background-color: buzTheme('backgroundColor');
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;

  .start_container {
    background-image: url('https://assets.codepen.io/1538474/star.svg');
    -webkit-animation: move-twink 800s linear infinite;
    animation: move-twink 800s linear infinite;
    width: 95vw;
  }

  .App_container {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: inherit;
    padding: 0 0.5rem;
  }
}

.progress_bar {
  position: fixed;
  bottom: 80px;
  z-index: 1;

  div {
    margin: 0;
    padding: 0;
  }
}
